@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
/* font-family: 'EB Garamond', serif; */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	/* background-color: #EFEFEF; */
	background-color: #fff;
	color: #181822;
	font-weight: 400;
	font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 2000px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	html {
		font-size: 14px;
	}
}

/* Utils */

p {
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: #181822;
	font-weight: 500;
}

a:hover {
	color: #060608;
	text-decoration: none;
}

button,
.button {
	display: inline-block;
	padding: 0.8em 2em;
	background: #130a0b;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	color: #fff;
	font-size: 1rem;
	border: solid 1px #130a0b;
	font-weight: 400;
	transition: all 0.3s ease-in-out;
}

button:hover,
.button:hover {
	background: #fff;
	color: #130a0b;
}

button.secondary,
.button.secondary {
	border: solid 1px #130a0b;
	background: #fff;
	color: #130a0b;
}

button.secondary:hover,
.button.secondary:hover {
	background: #130a0b;
	color: #fff;
}

section {
	padding: 2rem 0;
}

.container {
	max-width: 1400px;
	padding-inline: 1rem;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.container {
		padding-inline: 2rem;
	}
}

/* Header  */

header {
	background-color: #fff;
	padding: 0 10rem;
	font-family: 'EB Garamond', sans-serif;
	height: 4.5rem;
	position: sticky;
	top: 0;
  z-index: 2;
}

nav {
	display: flex;
	height: 4.5rem;
	width: 100%;
	align-items: center;
}

._nav-lg {
	display: flex;
	width: 100%;
	align-items: center;
	height: 100%;
}

._nav-lg .logo img {
	height: 3.3rem;
	display: block;
}

.toggler {
	display: none;
}

._nav-lg .acct {
	margin-left: auto;
}

._nav-lg .acct a {
	display: inline-block;
	position: relative;
	margin-right: 1rem;
}

._nav-lg .acct a img {
	width: 20px;
	height: auto;
}

._nav-sm {
	display: none;
}

._nav-lg ._nav-list {
	margin-left: 10rem;
	display: flex;
}

._nav-lg ._nav-list ._nav {
	margin-left: 1rem;
}

._nav-lg ._nav-list ._nav a {
	font-size: 1.3rem;
	font-weight: 500;
	position: relative;
	display: inline-flex;
}

._nav-lg ._nav-list ._nav a::after {
	content: '';
	height: 1px;
	border-radius: 3px;
	background-color: #b45948;
	bottom: 0px;
	position: absolute;
	width: 0%;
	transition: 0.4s ease-in-out;
}
._nav-lg ._nav-list ._nav a.active::after {
	width: 100%;
}

._nav-lg ._nav-list ._nav a:hover::after {
	width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
	header {
		padding: 0 3rem;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	header {
		padding: 0 1rem;
		height: 4.5rem;
	}

	nav {
		display: flex;
		height: 4.5rem;
	}

	header.open nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 1rem;
		height: 4.5rem;
		background-color: #fff !important;
	}

	._nav-lg ._nav-list {
		display: none;
	}

	._nav-lg .acct {
		display: none;
	}

	._nav-lg .toggler {
		display: block;
		margin-left: auto;
		width: 35px;
		height: auto;
		display: inline-flex;
		padding: 5px;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	._nav-lg .toggler span {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: #28292a;
		margin: 3px;
		transition: all 0.5s ease-in;
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
	}

	._nav-sm {
		display: flex;
		background-color: #f4f4f4;
		position: fixed;
		top: 4.5rem;
		left: 0;
		right: 0;
		overflow: hidden;
		height: 0;
		transition: 0.5s all ease-in-out;
		z-index: 3;
	}

	._nav-sm ._nav-list {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 2rem;
		opacity: 0;
		transition: opacity 0.3s ease-in;
		transition-delay: 0.7s;
		-webkit-transition: opacity 0.3s ease-in;
		-moz-transition: opacity 0.3s ease-in;
		-ms-transition: opacity 0.3s ease-in;
		-o-transition: opacity 0.3s ease-in;
	}

	._nav-sm ._nav-list ._nav {
		margin: 0.5rem 0;
	}
	._nav-sm ._nav-list ._nav a {
		font-size: 2rem;
		text-decoration: underline;
		text-decoration-color: #b45948;
		-moz-text-decoration-color: #b45948;
		text-decoration-thickness: 3px;
		text-decoration-skip-ink: none;
	}

	header.open ._nav-sm {
		height: 100%;
	}

	header.open ._nav-lg .toggler span:nth-child(1) {
		transform: rotate(37deg) translateY(5px);
		transform-origin: center;
		-webkit-transform: rotate(37deg) translateY(5px);
		-moz-transform: rotate(37deg) translateY(5px);
		-ms-transform: rotate(37deg) translateY(5px);
		-o-transform: rotate(37deg) translateY(5px);
	}
	header.open ._nav-lg .toggler span:nth-child(2) {
		transform: rotate(-45deg) translateY(-5px);
		transform-origin: center;
		-webkit-transform: rotate(-45deg) translateY(-5px);
		-moz-transform: rotate(-45deg) translateY(-5px);
		-ms-transform: rotate(-45deg) translateY(-5px);
		-o-transform: rotate(-45deg) translateY(-5px);
	}
	header.open ._nav-sm ._nav-list {
		opacity: 1;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	header {
		padding: 0 1rem;
		height: 4.5rem;
	}

	nav {
		display: flex;
		height: 4.5rem;
	}

	header.open nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 1rem;
		height: 4.5rem;
		background-color: #fff !important;
	}

	._nav-lg ._nav-list {
		display: none;
	}

	._nav-lg .acct {
		display: none;
	}

	._nav-lg .toggler {
		display: block;
		margin-left: auto;
		width: 35px;
		height: auto;
		display: inline-flex;
		padding: 5px;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	._nav-lg .toggler span {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: #28292a;
		margin: 3px;
		transition: all 0.5s ease-in;
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
	}

	._nav-sm {
		display: flex;
		background-color: #f4f4f4;
		position: fixed;
		top: 4.5rem;
		left: 0;
		right: 0;
		overflow: hidden;
		height: 0;
		transition: 0.5s all ease-in-out;
		z-index: 3;
	}

	._nav-sm ._nav-list {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 2rem;
		opacity: 0;
		transition: opacity 0.3s ease-in;
		transition-delay: 0.7s;
		-webkit-transition: opacity 0.3s ease-in;
		-moz-transition: opacity 0.3s ease-in;
		-ms-transition: opacity 0.3s ease-in;
		-o-transition: opacity 0.3s ease-in;
	}

	._nav-sm ._nav-list ._nav {
		margin: 0.5rem 0;
	}
	._nav-sm ._nav-list ._nav a {
		font-size: 2rem;
		text-decoration: underline;
		text-decoration-color: #b45948;
		-moz-text-decoration-color: #b45948;
		text-decoration-thickness: 3px;
		text-decoration-skip-ink: none;
	}

	header.open ._nav-sm {
		height: 100%;
	}

	header.open ._nav-lg .toggler span:nth-child(1) {
		transform: rotate(37deg) translateY(5px);
		transform-origin: center;
		-webkit-transform: rotate(37deg) translateY(5px);
		-moz-transform: rotate(37deg) translateY(5px);
		-ms-transform: rotate(37deg) translateY(5px);
		-o-transform: rotate(37deg) translateY(5px);
	}
	header.open ._nav-lg .toggler span:nth-child(2) {
		transform: rotate(-45deg) translateY(-5px);
		transform-origin: center;
		-webkit-transform: rotate(-45deg) translateY(-5px);
		-moz-transform: rotate(-45deg) translateY(-5px);
		-ms-transform: rotate(-45deg) translateY(-5px);
		-o-transform: rotate(-45deg) translateY(-5px);
	}
	header.open ._nav-sm ._nav-list {
		opacity: 1;
	}
}

/* Hero Section */
.hero-section .container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.hero-section .container h1 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 30px;
}

.hero-section .container p {
	text-align: center;
	margin-top: 0;
}

.hero-section .container .button {
	margin-top: 10px;
}

.hero-section .container .hero-svg {
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.hero-section .container .hero-img {
	width: 100%;
	height: auto;
	border-radius: 16px;
	display: block;
	margin-top: 8px;
}

/* Trusted Section */
.trusted-section {
	background-color: #fff;
	text-align: center;
}

.trusted-section h5 {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.trusted-section .inner .trusted-logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.trusted-section .inner img {
	display: inline-block;
	max-height: 100px;
	width: auto;
	height: 100%;
}

@media (max-width: 767px) {
	.trusted-section .inner .trusted-logos {
		flex-wrap: wrap;
	}

	.trusted-section .inner img {
		max-height: 50px;
	}
}
/* Services sections */

.service {
	background-color: #f4f4f4;
	padding: 10rem 0;
}

.service.right {
	background-color: #fff;
}

.service .service--inner {
	display: flex;
	width: 100%;
}

.service .service-image-container {
	width: 45%;
	margin-right: 5%;
}

.service .service-image-container img {
	display: block;
	width: 100%;
	border-radius: 16px;
	height: auto;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	transform: rotateY(2deg) rotateX(10deg);
}

.service .service-details {
	width: 45%;
}

.service .service-details h2 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.service .service-details p {
	line-height: 1.8;
}

.service.right .service--inner {
	flex-direction: row-reverse;
}

.service.right .service-image-container {
	margin-right: 0%;
	margin-left: 5%;
}

.service.right .service-image-container img {
	transform: rotateY(-2deg) rotateX(-10deg);
}

@media (max-width: 767px) {
	.service {
		padding: 5rem 0;
	}

	.service .service--inner {
		flex-direction: column;
		display: block;
	}

	.service .service-image-container {
		margin: 0;
		width: 100%;
	}

	.service .service-details {
		width: 100%;
		margin-top: 3rem;
	}
}

section.who-need-us {
	padding: 5rem 0;
}

section.who-need-us h2 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 4rem;
	text-align: center;
}

section.who-need-us .companies {
	display: flex;
	justify-content: space-between;
}

section.who-need-us .companies .company {
	width: 30.33%;
	text-align: center;
}

section.who-need-us .companies .company img {
	width: 100%;
	height: 200px;
	border-radius: 2px;
	object-fit: cover;
	margin-bottom: 1rem;
}

section.who-need-us .companies .company h3 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 1rem;
	margin-top: 0;
	text-align: left;
}

section.who-need-us .companies .company p {
	line-height: 1.6;
	text-align: left;
}

@media (max-width: 767px) {
	section.who-need-us {
		padding: 3rem 0;
	}

	section.who-need-us .companies {
		display: block;
	}

	section.who-need-us .companies .company {
		width: 100%;
		margin-bottom: 3rem;
	}
}

section.testimonial {
	padding: 8rem 0;
}

section.testimonial .inner {
	background-color: #f4f4f4;
	padding: 2rem 3rem;
	border-radius: 16px;
}

section.testimonial .inner .text {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 1rem;
}

section.testimonial .inner .text:before {
	content: open-quote;
	margin-left: -1ch;
}

section.testimonial .inner .text:after {
	content: close-quote;
}

section.testimonial .inner .testimonial-info {
	display: inline-flex;
	align-items: center;
	margin-top: 2rem;
}

section.testimonial .inner .testimonial-info img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 1rem;
	background-color: #daab6e;
}

section.testimonial .inner .testimonial-info h4 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
}

section.testimonial .inner .testimonial-info p {
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0;
}

@media (max-width: 767px) {
	section.testimonial {
		padding: 4rem 0;
	}

	section.testimonial .inner .text {
		font-size: 1.5rem;
	}
}

section.questions {
	background-color: #b45948;
	margin-top: 3rem;
}

section.questions .container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

section.questions h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 400;
}

section.questions .button {
	border-radius: 8px;
	font-size: 1.2rem;
}

@media (max-width: 767px) {
	section.questions {
		padding: 3rem 0;
	}

	section.questions .container {
		flex-direction: column;
		gap: 0;
	}

	section.questions h1 {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	section.questions .button {
		margin-top: 1rem;
	}
}

/* Footer */
footer {
	padding: 5rem 0 2rem;
	background-color: #130a0b;
	color: #fff;
}

footer .footer-sites-links {
	display: flex;
	justify-content: flex-start;
	align-items: top;
	gap: 10%;
}

.footer-links-container {
	display: inline-block;
}

.footer-links-container h4 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.footer-links-container a {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #fff;
	font-weight: 400;
}

.footer-links-container .footer-links a:hover {
	text-decoration: underline;
}

.footer-links-container.address {
	margin-left: auto;
}

footer .socials {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1.9rem;
}

footer .socials a {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #fff;
	border-radius: 50%;
}

footer .socials a img {
	width: 40%;
	height: auto;
}

footer .sub-section {
	margin-top: 3rem;
	padding: 0.8rem 0 0.4rem;
	border-top: 1px solid rgba(255, 255, 255, 0.118);
}

footer .sub-section p {
	font-size: 0.775rem;
	font-weight: 400;
	margin: 0;
	font-family: 'EB Garamond', serif;
	color: rgba(255, 255, 255, 0.547);
}

@media (max-width: 767px) {
	footer .footer-sites-links {
		flex-direction: column;
		gap: 0;
	}

	.footer-links-container h4 {
		margin-top: 0;
	}

	footer .footer-links-container {
		margin-bottom: 2rem;
	}

	footer .footer-links-container.address {
		margin-left: 0;
	}

	footer .sub-section {
		margin-top: 1rem;
	}
}
